
config defaults
	option syn_flood '1'
	option input 'ACCEPT'
	option output 'ACCEPT'
	option forward 'ACCEPT'
# Uncomment this line to disable ipv6 rules
#	option disable_ipv6	1

config zone
	option name 'lan'
	list network 'lan'
	option input 'ACCEPT'
	option output 'ACCEPT'
	option forward 'ACCEPT'
	option auto_helper '0'
	option mtu_fix '1'

config zone
	option name 'wan'
	option output 'ACCEPT'
	option masq '1'
	option mtu_fix '1'
	option input 'ACCEPT'
	option forward 'ACCEPT'
	list network 'wan'
	list network 'wan6'

config forwarding
	option src 'lan'
	option dest 'wan'

config rule
	option name 'Allow-DHCP-Renew'
	option src 'wan'
	option proto 'udp'
	option dest_port '68'
	option target 'ACCEPT'
	option family 'ipv4'

config rule
	option name 'Allow-Ping'
	option src 'wan'
	option proto 'icmp'
	option icmp_type 'echo-request'
	option family 'ipv4'
	option target 'ACCEPT'

config rule
	option name 'Allow-IGMP'
	option src 'wan'
	option proto 'igmp'
	option family 'ipv4'
	option target 'ACCEPT'

config rule
	option name 'Allow-DHCPv6'
	option src 'wan'
	option proto 'udp'
	option src_ip 'fc00::/6'
	option dest_ip 'fc00::/6'
	option dest_port '546'
	option family 'ipv6'
	option target 'ACCEPT'

config rule
	option name 'Allow-MLD'
	option src 'wan'
	option proto 'icmp'
	option src_ip 'fe80::/10'
	list icmp_type '130/0'
	list icmp_type '131/0'
	list icmp_type '132/0'
	list icmp_type '143/0'
	option family 'ipv6'
	option target 'ACCEPT'

config rule
	option name 'Allow-ICMPv6-Forward'
	option src 'wan'
	option dest '*'
	option proto 'icmp'
	list icmp_type 'echo-request'
	list icmp_type 'echo-reply'
	list icmp_type 'destination-unreachable'
	list icmp_type 'packet-too-big'
	list icmp_type 'time-exceeded'
	list icmp_type 'bad-header'
	list icmp_type 'unknown-header-type'
	option limit '1000/sec'
	option family 'ipv6'
	option target 'ACCEPT'

config rule
	option name 'Allow-IPSec-ESP'
	option src 'wan'
	option dest 'lan'
	option proto 'esp'
	option target 'ACCEPT'

config rule
	option name 'Allow-ISAKMP'
	option src 'wan'
	option dest 'lan'
	option dest_port '500'
	option proto 'udp'
	option target 'ACCEPT'

config rule
	option name 'Support-UDP-Traceroute'
	option src 'wan'
	option dest_port '33434:33689'
	option proto 'udp'
	option family 'ipv4'
	option target 'REJECT'
	option enabled 'false'

config include
	option path '/etc/firewall.user'

config rule
	option enabled '1'
	option target 'ACCEPT'
	option name 'Allow-All-LAN-to-VPN'
	option dest 'vpn'
	option src 'lan'

config zone 'zone_vpn'
	option name 'vpn'
	option masq '1'
	option forward 'ACCEPT'
	option output 'ACCEPT'
	list network 'glorytun'
	list network 'omrvpn'
	list network 'omr6in4'
	option mtu_fix '1'
	option input 'ACCEPT'

config rule
	option enabled '1'
	option target 'ACCEPT'
	option name 'Allow-All-Ping'
	option proto 'icmp'
	option dest '*'
	option src '*'
	option icmp_type 'echo-request'

config rule
	option enabled '1'
	option target 'ACCEPT'
	option name 'Allow-VPN-ICMP'
	option proto 'icmp'
	option src 'vpn'

config rule
	option enabled '1'
	option target 'ACCEPT'
	option name 'Allow-Lan-to-Wan'
	option dest 'wan'
	option src 'lan'

config rule
	option enabled '1'
	option target 'ACCEPT'
	option name 'ICMPv6-Lan-to-OMR'
	option src 'lan'
	option family 'ipv6'
	option proto 'icmp'
	option limit '1000/sec'
	option icmp_type 'echo-reply destination-unreachable echo-request router-advertisement router-solicitation time-exceeded'

config include 'omr_server'
	option path '/etc/firewall.omr-server'
	option reload '1'

config include 'gre_tunnel'
	option path '/etc/firewall.gre-tunnel'
	option reload '1'

config forwarding 'fwlantovpn'
	option src 'lan'
	option dest 'vpn'

config rule 'blockquicproxy'
	option name 'Block QUIC Proxy'
	option proto 'udp'
	option dest_port '443'
	option target 'DROP'
	option src 'lan'

config rule 'blockquicall'
	option name 'Block QUIC All'
	option proto 'udp'
	option src '*'
	option dest '*'
	option dest_port '443'
	option target 'DROP'

config rule 'allow_dhcp_request_vpn'
	option name 'Allow-DHCP-Request-VPN'
	option src 'vpn'
	option proto 'udp'
	option dest_port '67'
	option target 'ACCEPT'
	option family 'ipv4'

config include 'v2ray'
	option path '/etc/firewall.v2ray-rules'
	option reload '1'

config include 'omr_bypass'
	option path '/etc/firewall.omr-bypass'
	option reload '1'

config include 'miniupnpd'
	option type 'script'
	option path '/usr/share/miniupnpd/firewall.include'
	option family 'any'
	option reload '1'

config include 'ss_rules'
	option path '/etc/firewall.ss-rules'
	option reload '1'

config redirect
	option target 'DNAT'
	option name 'SRT'
	option src 'vpn'
	option src_dport '5000'
	option dest 'vpn'
	option dest_port '5000'

config redirect
	option target 'DNAT'
	option name '4888'
	option src 'vpn'
	option src_dport '4888'
	option dest_ip '192.168.100.1'
	option dest_port '80'
	option dest 'vpn'

config redirect
	option target 'DNAT'
	option name '4889'
	option src 'vpn'
	option src_dport '4889'
	option dest 'vpn'
	option dest_port '80'

